
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="page-wrapper">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"><h3>Crear noticia</h3></div>
                    <div id="inputs" class="panel-body">

                        <form action="/Noticia/Crear" method="post" enctype="multipart/form-data">
                            <div>
                                <label class="control-label">Titulo :</label>
                                <input class="form-control" type="text" name="Titulo" value="@Model.Titulo" />
                                @Html.ValidationMessage("Titulo")
                            </div>
                            <div>
                                <label class="control-label">Descripcion :</label>
                                <input class="form-control" type="text" name="Descripcion" value="@Model.Descripcion" />
                                @Html.ValidationMessage("Descripcion")
                            </div>
                            <div>
                                <label class="control-label">Imagen :</label>
                                <input class="form-control" type="file" name="file" value="@Model.Imagen" />
                                @Html.ValidationMessage("Imagen")
                            </div>
                            <br />
                            <a class="pull-left btn btn-danger" href="/Noticia/Index"><span class="glyphicon glyphicon-circle-arrow-left"></span>Volver</a>
                            <button id="btnGuardar" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-saved"></span> Guardar</button>

                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>




    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>